extends ./layout.jade

block title
	title  Title from index

block content
	p
		| My new content from index is great!

	.row(data-ng-controller='nameController')
		.col-xs-3
			div(data-calc-brute="1", data-amount="yourPrice", data-label="price calculator", data-rate="1.16")
			p Price: 
				span(data-ng-bind="yourPrice")
				span !

	.row(data-ng-controller='userController')
		.col-xs-12
			table(class="table table-condensed")
				thead
					tr
						th(data-ng-repeat='th in ths', data-ng-bind="th")
				tbody
					tr
						td
						td
							input.form-control(data-ng-model='nUser["name"]') 
						td
							input.form-control(data-ng-model='nUser["email"]') 
						td
							input.form-control(data-ng-model='nUser["phone"]') 
						td
							input.form-control(data-ng-model='nUser["address"]') 
						td
							.btn-group(role='group')
								button(
									type='button', 
									class='btn btn-info', 
									data-ng-click='addRecord(nUser)'
								)
									span(class="glyphicon glyphicon-plus")
					tr(data-ng-repeat='row in u')
						td(data-ng-bind="row._id")
						td
							input.form-control(data-ng-model='row.name') 
						td 
							input.form-control(data-ng-model='row.email')
						td 
							input.form-control(data-ng-model='row.phone')
						td 
							input.form-control(data-ng-model='row.address')
						td
							.btn-group(role='group')
								button(
									type='button', 
									class='btn btn-info', 
									data-ng-click='updateRecord(row)'
								)
									span(class="glyphicon glyphicon-refresh")
								button(
									type='button', 
									class='btn btn-danger', 
									data-ng-click='removeRecord(row)'
								) 
									span(class="glyphicon glyphicon-remove-sign")