extends ./layout.jade

block title
	title  Title from index

block content
	p
		| My new content from index is great!

	.row(data-ng-controller='nameController')
		.col-xs-3
			input.form-control(
				data-ng-model='yourName', 
				type='text',
				placeholder='Enter your price'
			)
			p Hello {{yourName}}!
			p Hello other {{otherName(yourName)}}!
			p Hello another {{anotherName(yourName)}}!

	.row(data-ng-controller='userController')
		.col-m-12
			table(class="table table-condensed")
				thead
					tr
						th(data-ng-repeat='th in ths') {{th}}
				tbody
					tr(data-ng-repeat='row in u')
						td {{row._id}}
						td {{row.name}}
						td {{row.email}}
						td {{row.phone}}
						td {{row.address}}
				// - each l in usr
				// -	li #{l.name} - #{l.email}