extends ./layout.jade

block title
	title  Title from index

block content
	p
		| My new content from index is great!

	.row(data-ng-controller='nameController')
		.col-xs-3
			input.form-control(
				data-ng-model='yourName', 
				type='text',
				placeholder='Enter your price'
			)
			p Hello {{yourName}}!
			p Hello other {{otherName(yourName)}}!
			p Hello another {{anotherName(yourName)}}!

	ul
		each l in usr
			li #{l.name} - #{l.email}